.articalComponent {
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: white;

  .artical-image {
    width: 100%;

    a {
      display: block;
      width: 100%;
      height: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-position: center center;
      background-size: cover;
      padding-bottom: 171px;
      background-size: cover;
    }
  }

  .artical-page {
    padding: 10px;
    .artical-detalies {
      .contain-image-date {
        display: flex;

        .u-image {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }

        .u-detalies {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;
          color: var(--main-6);
          font-size: 14px;
          transition: all 0.2s;

          a {
            margin-bottom: 5px;
          }

          &:hover {
            color: black;
          }
        }
      }
    }

    .title-artical {
      padding: 10px 15px 15px 62px; 

      &:hover {
        color: var(--main-theme);
      }
    }

    .tags {
      padding: 10px 5px 15px 62px;

      a {
        padding-right: 2px;
        color: var(--main-6);

        &:hover {
          color: black;
        }
      }
    }

    .footer-artical {
      display: flex;
      padding: 10px 10px 15px 50px;
      justify-content: space-between;
      @media(min-width:280px) and (max-width:350px){
      padding: 10px 0px 15px 0px;
      }
      .hideen-mobile{
        @media(min-width:280px) and (max-width:576px){
        display: none;
        }
      }

      .addtional-detalie {
        display: flex;
        a {
          margin-right: 20px;
          @media (min-width:280px) and (max-width:1207px){
          margin-right: 6px;
          font-size: 14px;
          }
          flex-direction: row;
          display: flex;
          justify-content: center;
          align-items: center;

          &>span {
          //  transition: all 0.5s;
            &:hover {
              background-color: var(--theme-background);
              padding:  8px 8px;
              border-radius: 5px;
              @media(min-width:280px) and (max-width:1207px){
                padding: 6px 6px;
                border-radius: 2px;
                margin-right: 2px;
              }
            }
          }

          i {
            padding: 0px 2px;
          }
        }
      }

      .save {
        padding: 10px;
        @media (min-width:280px) and (max-width:350px){
        padding: 0px;
        }
        @media (min-width:351px) and (max-width:1207px){
         display: flex;
         align-items: center;
        }

        small {
          padding: 0px 20px;
          color: var(--main-6);
          
          @media(max-width:365px){
          padding: 0; 
          margin-right: 2px; 
          }
          @media(min-width:356px) and (max-width:1207px){
          padding: 0; 
          margin-right: 7px;
         }
        }

        button {
          color: var(--main-6);
          padding: 6px 20px;
          border-radius: 5px;
          background-color: var(--main-2);
          @media (min-width:280px) and (max-width:350px){
            padding: 4px 12px;
          }
          @media(min-width:351px) and (max-width:1207px){
          padding: 4px 15px;
          }
          &:hover {
            background-color: var(--main-3);
          }
        }
      }
    }



  }
}


